.card-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

img.card-img-top {
  height: 200px !important;
  width: 100% !important;
  object-fit: contain;
}

.desc-width {
  width: 157px;
}

.splide__arrow {
  background: none !important;
  top: 35% !important;
}

.splide__pagination {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .splide__arrow {
    display: none;
  }

  .mobile-mt {
    margin-top: 10%;
  }

  .desc-width {
    width: 100%;
  }
  

  img.card-img-top {
    height: 140px !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .splide__arrow svg {
    display: none;
  }

  .pi-shopping-cart {
    padding: 0;
  }

}