h3 {
  color: black;
  margin-right: 19.5em;
}

hr {
  color: #1301015d !important;
  height: 50em;
}

.cart-title {
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin-top: 1em;
  margin-left: 5.5em;
  margin-bottom: 0;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.logo-msg-container {
  display: flex;
}

.logo-msg {
  color: black;
  font-size: 18px;
  overflow: auto;
  font-weight: 600;
  margin-left: 0.5em;
  margin-top: 0.2em;
  width: 8em;
}

.empty-footer-container {
  margin-top: 2em;
  flex-direction: row;
  margin-left: 25em;
  gap: 5em;
}

.cart-page {
  max-width: 99%;
}

.empty-footer-container i {
  display: flex;
  color: red;
  font-size: 35px;
  margin-right: 0.2em;
}

.cart-container {
  margin-top: 2em;
  background-color: #f4f6f9;
  width: 80vw;
}

.title-container {
  margin-left: 14em;
  font-family: Human BBY, Arial, sans-serif;
}

.cart-container p {
  margin-top: 2em;
  margin-left: 0.5em;
}

.cart-container p strong {
  color: black !important;
}

.electromar-title {
  font-size: 16.2px !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.cart-item-container {
  background-color: white;
  border: 1px solid #1301012f;
  border-radius: 5px;
  margin-left: 14.5em;
  padding-bottom: 1em;
}

.cart-item {
  display: flex;
  justify-content: start;
}

.cart-item span {
  color: black;
}

.cart-item-title {
  margin-top: 1.5em;
  margin-left: 1em;
  font-size: 15px;
  line-height: 30px;
  font-family: Human BBY, Arial, sans-serif;
}

.cart-item-img-container img {
  height: 110px;
  width: 95px;
  margin-top: 2em;
  margin-left: 1.5em;
}

.cart-item-price {
  margin-top: 1.5em;
  font-weight: bold;
  padding-right: 1em;
  justify-content: end;
  margin-right: 0.8em;
  flex: auto;
  display: flex;
}

.cart-item-footer {
  display: flex;
  flex-direction: column;
  margin-left: 8.5em;
}

.cart-item-footer span i {
  margin-top: 2em;
  font-size: 0.8em;
  color: green;
  margin-right: 0.6em;
}

.cart-item-footer span {
  color: black;
}

.cart-item-footer button {
  width: 1.3em;
  margin-top: 1em;
  border-radius: 30px;
  height: 1.3em;
  padding: 0 !important;
}

.cart-item-footer div p {
  margin-top: 1.3em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.8em;
  color: black;
  font-weight: bold;
  vertical-align: middle;
}

.empty-cart-logo {
  align-self: flex-end !important;
}

.empty-cart-logo i {
  color: red;
  font-size: 100px;
  margin-right: 4em;
}

.empty-cart-title {
  color: black !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  margin-bottom: 0.5em !important;
  margin-left: 7.5em !important;
}

.empty-cart span {
  color: black !important;
  font-size: 1em;
  margin-left: 9.1em;
}

.pi-minus,
.pi-plus {
  text-align: center;
  font-size: 0.5em;
  padding-bottom: 1em;
  vertical-align: middle;
}

.pi-trash {
  margin: 0;
  color: red !important;
}

.remove-txt {
  font-weight: 500;
  margin-top: -1em;
  margin-left: 0.2em;
  color: blue;
  cursor: pointer;
}

.product-total span {
  color: black;
  font-weight: 500;
  margin-left: 8.8em;
  line-height: 40px;
}

.product-total span:nth-child(2) {
  font-weight: bold;
  flex: auto;
  display: flex;
  justify-content: end;
  margin-right: 1.6em;
}

#payment-form {
  margin-top: 2em;
  margin-right: 0 !important;
  min-width: 0 !important;
  width: 40vw !important;
}

@media screen and (max-width: 1374px) {
  .cart-container {
    width: 100%;
    margin: 0;
    background-color: none;
  }

  .cart-title {
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .empty-cart-container {
    margin-left: 2em;
  }

  .empty-footer-container {
    margin-left: 2em;
  }

  .cart-item-container {
    margin-left: 2em;
  }

  .electromar-title {
    font-size: 16.2px !important;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
    align-self: flex-start; 
    margin-right: 10px; 
  }

  .cart-item-title {
    font-size: 14px;
  }

  .remove-txt {
    font-size: 14px;
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-left: 2em;
  }

  .product-total span {
    font-size: 12px;
  }
  #payment-form {
    margin-top: 0em !important;
    margin-right: 0 !important;
    min-width: 0 !important;
    width: 45vw !important;
    margin-bottom: 1em !important;
  }
}

@media screen and (max-width: 768px) {
  .mobile-cart-container {
    flex-direction: column !important;
    justify-content: center;
    margin-left: 0;
  }
  .product-total span {
    font-size: 2.2vw;
  }
  .cart-item-footer div p {
    font-size: 0.58em;
  }

  .cart-item-footer span {
    font-size: 0.6em;
  }
  #payment-form {
    margin-top: 0em !important;
    margin-right: 0 !important;
    min-width: 0 !important;
    width: 100% !important;
    margin-left: 2em;
    margin-right: 1.5em !important;
    margin-bottom: 1em !important;
  }
  .cart-item-price {
    font-size: 13px;
    margin-top: 2em;
    margin-left: 0.5em;
  }
  .checkout-form-container {
    display: flex;
    justify-content: center;
  }
  .cart-page {
    width: 99%;
    margin-right: auto;
    margin-left: auto;
  }
  .cart-container {
    background-color: white;
  }
}

