.carousel-item {
  height: 28rem;
}

.carousel-item img {
  height: 28rem;
  object-fit: cover;
  width: 100vw;
}

.p-2 {
  padding: 0.5em !important;
}

@media screen and (max-width: 768px) {
  .carousel-item {
    height: 170px;
  }
  .carousel-control-prev-icon {
    display: none !important;
  }
  .carousel-control-next-icon {
    display: none !important;
  }

  .carousel-item img {
    object-fit: cover;
    height:160px;
  }
  .btn {
    font-size: 0.7rem !important;
  }

  .splide__track {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .p-2 {
    padding: 0.5em !important;
  }
}

